{% extends '_base.html' %}
{% load static %}
  {% block page_title %} Home {% endblock  %}
  
  {% block content %}
    <div class="lm-animated-bg"></div>
    


    {% include 'leftbar.html' %}

        <!-- Page Content -->
        <div class="content-area single-page-area" data-animation="animated-section-rotateRoomBottomIn">
          <div class="single-page-content">
            <div class="content-wrapper">
              <!-- About Me Section -->
              <section>      
                <div class="section-content vcentered home-page-third-style">

                  <div id="home_content_1" class="home-content">
                    <div class="row flex-v-align">
                      <div class="col-sm-12 without-padding col-md-6 col-lg-6">
                        <div class="home-photo">
                          <div class="hp-inner" style="background-image: url({% static 'img/mee.jpg' %})">
                     
                          </div>
                        </div>
                      </div>


                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="home-text">
                          <div class="owl-carousel text-rotation">                                    
                            <div class="item">
                              <h4>BackEnd-Developer</h4>
                            </div>
                          </div>
                          
                          <h1><span>Hi, I'm</span> Amir Noralahi</h1>
                          <p>{{title.title}}</p>
              
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- /About Me Section -->
              
           
              <!-- What I DO / Services Section -->
              <section>
                <!-- Add White Space -->
                <div class="p-50"></div>
                <!-- /Add White Space -->

                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                      <h2>What I Do</h2>
                    </div>
                  </div>
                </div>


                <div class="row">
                  {% for foo in whatido %}
                  <div class="col-xs-12 col-sm-6">
                    <div class="info-list-w-icon">
                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="lnr lnr-store"></i>
                        </div>

                        <div class="ci-text">
                          <h4>{{foo.title}}</h4>
                          <p>{{foo.description}}</p>
                        </div>
                      </div>
                    </div>
                    </div>
                  {% endfor %}
                </div>
              </section>
              <!-- /What I DO / Services Section -->

            
              <!-- /Testimonials Section -->

              <!-- Clients Section -->
              <section>
                <!-- Add White Space -->
                <div class="p-30"></div>
                <!-- /Add White Space -->

                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                      <h2>Clients</h2>
                    </div>
                  </div>
                </div>
          

                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div id="clients_a1adde6" class="clients owl-carousel loop-off autoplay-off" data-mobile-items="2" data-tablet-items="4" data-items="5">
                    {% for clients in client %}
                      <div class="client-block">
                        <a href="http://example.com" target="_blank" title="Company 1">
                          <img src="{{clients.logo.url}}" alt="Company 1">
                        </a>
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </section>
              <!-- /Clients Section -->

              <!-- Pricing Section -->
             
              <!-- /Pricing Section -->

              <!-- Fun Facts Section -->
              <section>
                <!-- Add White Space -->
                <div class="p-30"></div>
                <!-- /Add White Space -->

                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                      <h2>Fun Facts</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="fun-fact">
                      <div class="fun-fact-icon">
                        <i class="lnr lnr-heart"></i>
                      </div>
                      <span class="fun-fact-block-value">578</span>
                      <h4>Happy Clients</h4>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="fun-fact">
                      <div class="fun-fact-icon">
                        <i class="lnr lnr-clock"></i>
                      </div>
                      <span class="fun-fact-block-value">4,780</span>
                      <h4>Working Hours</h4>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="fun-fact">
                      <div class="fun-fact-icon">
                        <i class="lnr lnr-star"></i>
                      </div>
                      <span class="fun-fact-block-value">15</span>
                      <h4>Awards Won</h4>
                    </div>
                  </div>
                </div>
              </section>
              <!-- /Fun Facts Section -->
            
            </div>
          </div>

          <!-- /Footer -->
          <footer class="site-footer clearfix">
            <div class="footer-social">
              <ul class="footer-social-links">
                <li>
                  <a href="https://github.com/ZEROU14?tab=repositories" target="_blank">GitHub</a>
                </li>
                <li>
                  <a href="https://www.instagram.com/amir.nori14_?igsh=eWZuZGl1ZnZrbTl5" target="_blank">Instagram</a>
                </li>
              </ul>
            </div>
        
            <div class="footer-copyrights">
              <p>© 2024 All rights reserved.</p>
            </div>
          </footer>
          <!-- /Footer -->
        </div>
        <!-- /Page Content -->
      </div>
    </div>

    <!-- /Page Wrapper -->
    {% endblock  %}
